body {
    font-family: "Roboto", sans-serif;
    background: #bfe6f1;
}

.game {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    grid-gap: 20px;
}

.card {
    position: relative;
    perspective: 1000px;
}

.card__front,
.card__back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;
    pointer-events: none;
}

.card__front {
    background: red;
}

.card__back {
    background: green;
    transform: rotateY(180deg);
}

.card.active .card__front {
    transform: rotateY(180deg);
}

.card.active .card__back {
    transform: rotateY(360deg);
}

.hidden {
    visibility: hidden;
}
